body {
    font-family: 'Slabo 27px', serif;
    background-image: url(../images/map.jpg) 
    
}

.btn {
    border: 1px solid black;
    margin: 5px;
    background-color: azure;
}

.btn:hover {
    cursor: pointer;
    background-color: #57636e;
}

.btn:focus {
    outline: 0;
}

img {
    height: 150px;
    width: 200px;
}

#nav {
    height: 30px;
    width: 100px;
}

.top {
    margin: 50px;
}